<div class="large-container center-block">
  <h1>Interesados</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Ingresado por</th>
        <th>Fecha de ingreso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @interesados.each do |prospect| %>
        <tr>
          <td><%= prospect.first_name %></td>
          <td><%= prospect.last_name %></td>
          <td><%= prospect.phone_number %></td>
          <td><%= prospect.email %></td>
          <td><%= prospect.state.status_name %></td>
          <td><%= current_user.email %></td>
          <td><%= prospect.created_at %></td>
          <td><%= link_to 'Mostrar', prospect %></td>
          <td><%= link_to 'Editar', edit_prospect_path(prospect) %></td>
          <td><%= link_to 'Eliminar', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h1>Todos los prospectos</h1>   

  <div class="count-prospects">
    <div>
    <h2><%= @total_prospectos %></h2>
    <h5>Prospectos </h5>
  </div>

  <div>
    <h2><%= @total_interesados %></h2>
    <h5>Interesados </h5>
  </div>

  <div>
    <h2><%= @total_clientes %></h2>
    <h5>Clientes </h5>
  </div>
  </div>






  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Ingresado por</th>
        <th>Fecha de ingreso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @prospects.each do |prospect| %>
        <tr>
          <td><%= prospect.first_name %></td>
          <td><%= prospect.last_name %></td>
          <td><%= prospect.phone_number %></td>
          <td><%= prospect.email %></td>
          <td><%= prospect.state.status_name %></td>
          <td><%= current_user.email %></td>
          <td><%= prospect.created_at %></td>
          <td><%= link_to 'Mostrar', prospect %></td>
          <td><%= link_to 'Editar', edit_prospect_path(prospect) %></td>
          <td><%= link_to 'Eliminar', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles %>
  <br>

</div>

