<p id="notice"><%= notice %></p>
<div class="large-container center-block">
  <p>
    <strong>Nombre:</strong>
    <%= @prospect.first_name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @prospect.last_name %>
  </p>

  <p>
    <strong>Número de teléfono:</strong>
    <%= @prospect.phone_number %>
  </p>

  <p>
    <strong>Correo electrónico:</strong>
    <%= @prospect.email %>
  </p>

  <p>
    <strong>Anotación:</strong>
    <%= @prospect.content %>
  </p>

  <%= link_to 'Editar', edit_prospect_path(@prospect) %> |
  <%= link_to 'Volver', prospects_path %>
</div>